#mainholder{
	background-color:white;
	border: medium  #694E47 solid;
	position:absolute;
	left:50%;
	top:50%;
	margin:-326px 0 0 -520px;
	width: 1040px; 
	height: 652px; 
}

#sidebar{
	background:url('../images/brown_nav_background_tile4.jpg') aqua repeat-y left 0  ;
	left:0px;
	top:0px;
	position:absolute;
	width:200px;
	height:652px;
	z-index:3;
}

#content{
	position: absolute;
	width: 860px;
	height: 652px;
	top: 0px;
	right: 0px;
	z-index:2;
}

#textbox{
	max-width:510px;
	height:340px;
	top:205px;
	left:180px;
	padding-right:10px;
	position:absolute;
	z-index:3;
	overflow-y:auto;
}

#address{
	position:absolute;
	bottom:10px;
}

body{
	background-color:black;
}

.text
{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align:justify;
	font-size:14px;
	color: #572a11;
	min-width:490px;
}

.text2
{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align:center;
	font-size:10px;
	color: #fff4D0;
 	text-transform:uppercase;
 	width:490px;
}

.menubg {
	background-color: #ffffff;
}
 
.bghover {
     background: #FFFFFF); !important;
}

